.CDCntr{
    border-bottom: 1px solid var(--innertextcolor);
    padding-bottom: 10px;
}
.leftBTNPart{
    margin-right: auto;
}
.CDTxt{
   color:var(--innertextcolor) ;
   
}
.rightBTNPart{
    margin-left: auto;
}

.lpart{
    width: 10%;
    padding: 16px;
}
.imgsize{
    /* width: 100%; */
    height: 64px;
    padding: 4px;
    border: 1px solid var(--innertextcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.img-magnifier-container {
    position:relative;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 10px;
    height: 0px;
    left: 24px;
  }
.bgImg{
    background-color: white;
    width: 90%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 350px;
    height:350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightCntr{
    width: 90%;
    height: 100%;
    list-style-position:inside ;
}
.lCntr{
    padding: 20px;
}
.RhemTxt{
    font-size: 38px;
    font-weight: 900;
    width: 100%;
}
.RhmInnerTxt{
    font-size: 28px;
    font-weight: 300;
    color: var(--innertextcolor);
    line-height: 24px;
}
.XE65{
    color: var(--secondaryColor);
    font-size: 26px;
    font-weight: 100;
}
.listItems{
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type:none ;
    width: 70%;
}
.liDot{
    font-size: 20px;
    font-weight: 900;
    color: var(--popupbgcolor);
    margin-right: 12px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}
.listText{
   line-height: 30px;
   font-weight: 500;
   display: inline;
}
.amtStyl{
    font-size: 32px;
    padding-right: 24px;
    position: relative;
}
.amtStyl ::before {
    position: absolute;
    content: "";
    left: 0;
    top: 55%;
    right: 0;
    border-top: 2px solid;
    border-color: red;
    
    -webkit-transform:rotate(-15deg);
    -moz-transform:rotate(-15deg);
    -ms-transform:rotate(-15deg);
    -o-transform:rotate(-15deg);
    transform:rotate(-15deg);
  }

.textStyl{
    color: var(--popupbgcolor);
    border-left: 1px solid var(--innertextcolor);
    padding-left: 20px;
    font-size: 32px;
    font-weight: bold ;
    font-family: "roboto";
}
.getInstall{
    background-color: var(--background);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: "roboto";
    font-weight: 500;
    border: none;
    border-radius: 8px; 
    margin-right: 24px;
}
.incentives{
    padding-left: 40px;
}
.preicon{
    background-color: var(--background);
    color: white;
    padding: 16px;
}
.previous{
    background-color: white;
    border: none; 
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid var(--innertextcolor);
}
.next{
    background-color: white;
    border: none; 
    font-size: 16px;
    font-weight: bold; 
}
@media (min-width:1113px){
    .bgImg{
        width: 40%;
    }
    .rightCntr{
        width: 60%;
    }
    
}