.header{
    background-color: rgb(39, 185, 185);
    text-align: center;
    padding: 10px 0px;
    color:antiquewhite;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
}
.incentive{
    color: white;
    font-weight: 500;
}
.headerIcon{
    width: 30px;
    text-align: center;
    height: 30px;
}