:root {
    --blue: #335BFF;
    --selectColor: #3314FF;
    --brdrColor: rgba(0,0,0,0.12);
}

/* ELEMENTS */

html, body { width: 100%; height: 100;}
body       { font-size: 1rem; font-family: 'Courier New','Courier New', Courier, monospace; color: rgba(0,0,0,0.87);}
p          { line-height: 22px;}
ul, li, ol { list-style-type: none;}
a          { text-decoration: none;}
          *{ padding: 0px; margin: 0px; box-sizing: border-box;}
footer     { display: flex; justify-content: center; align-items: center; background-color: lightblue;}

/* Typography */

h1         { font-size: 2.0rem; word-break: break-word; line-height: 1.72;}
h2         { font-size: 1.5rem; word-break: break-word; line-height: 1.72;}
h3         { font-size: 1.25rem; word-wrap: break-word; line-height: 1.72;}
h4         { font-size: 1.125rem; word-wrap: break-word; line-height:1.72;}
h5         { font-size: 1.0rem; word-wrap: break-word;   line-height: 1.72;}
h6         { font-size: 0.875rem; word-wrap: break-word; line-height: 1.72;}

/* ids */
#root      { width: 100%; height: 100%;}

/* classes */
.mainCntnr { display: flex; flex: none; width: 100vw; flex-direction: column; height: 100vh; background-color: lightseagreen;}

/* padding */
.pdngXS     { padding: 0.25rem;}
.pdngSM     { padding: 0.87;}
.pdngMD     { padding: 1rem;}
.pdngLG     { padding: 1.5rem;}
.pdngXL     { padding: 2rem;}

.pdngHXS    { padding: 0 0.25rem;}
.pdngHSM    { padding: 0 0.5rem;}
.pdngHMD    { padding: 0 1rem;}
.pdngHLG    { padding: 0 1.5rem;}
.pdngHXL    { padding: 0.2rem;}

.pdngVXS    { padding: 0.25rem 0;}
.pdngVSM    { padding: 0.5rem 0;}
.pdngVMD    { padding: 1rem 0;}
.pdngVLG    { padding: 1.5rem 0;}
.pdngVXL    { padding: 2rem 0;}

/* Responsive padding */
.respPdngHMD { padding: 0 1.0rem;}

/* margin */
.mrgnXS    { margin: 0.25rem;}
.mrgnSM    { margin: 0.5rem;}
.mrgnMD    { margin: 1rem;}
.mrgnLG    { margin: 1.5rem;}
.mrgnXL    { margin: 2rem;}

.mrgnHXS  { margin:0 0.25rem;}
.mrgnHSM  { margin:0 0.5rem;}
.mrgnHMD  { margin:0 1rem;}
.mrgnHLG  { margin:0 1.5rem;}
.mrgnHXL  { margin:0 2rem;}
.mrgnH    { margin:0 1rem}

.mrgnVXS  { margin:0.25rem 0;}
.mrgnVSM  { margin:0.5rem 0;}
.mrgnVMD  { margin:1rem 0;}
.mrgnVLG  { margin:1.5rem 0;}
.mrgnVXL  { margin:2rem 0;}
.mrgnv    { margin:0 1rem}

.brdr     { border: solid 1px var(--brdrColor)}
.brdrBtm  { border-bottom: 1px solid var(--brdrColor)}
.brdrTop  { border-bottom: 1px solid var(--brdrColor)}
.brdrleft { border-bottom: 1px solid var(--brdrColor)}
.brdrright{ border-bottom: 1px solid var(--brdrColor)}

.brdrRadius { border-radius: 16px;}
.textCenter { text-align: center;}
.fontSize   { font-size: 0.6rem;}
.textCapital{ text-transform: capitalize;}
.textLower  { text-transform: lowercase;}

.rowFlex    { display: flex; flex: none; width: 100%;}
.colFlex    { display: flex; flex-direction: column; flex: none; width: 100%;}
.resRowCol  { display: flex; flex-direction: row; flex: none; width: 100%;}
.resColRow  { display: flex; flex-direction: column; flex: none; width: 100%;}


.header     { height: 3.5rem; background-color: burlywood;}
.headerh4 { width: 100%; text-align: center; }
.contentCntnr{ width: 100%; height: 100%;}
.cntnr       {width: 100%; height: 100%; background-color: rgb(235, 212, 183);}
.sideNav     {width: 120px; height: 100%; background-color: lightgray; text-align: center;}


@media (min-width: 768px)and (max-width: 1112px){


}

@media (min-width:1113px){
    .resRowCol{ flex-direction: column;}
    .resColRow{ flex-direction: row;}
    .resPdngHMD{ padding: 0 1.5rem;}
}

/* @media (min-width:1113px) and (max-width: 1366px){
    .resRowCol{ flex-direction: column;}
    .resColRow{ flex-direction: row;}
}

@media (min-width:1367px){
    .resRowCol { flex-direction: column;}
    .resColRow { flex-direction: row;}
} */

/* ///////////////////////////////////////////////////////////////////////////////////////////// */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .column:hover {
    background-color:lightblue;
    color: black;
  }
  .column {
    float: left;
    width: 50%;
    padding: 15px;
    gap: 200px;
  }
  .footer{
      height: 5rem;
      width: 100%;
      background-color: red;
  }
  @media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}