.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-con{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 40%;
}