.bg-container{
    background-color: rgb(166, 210, 196);
    min-height: 100vh;
    padding: 4rem;
    text-align: center;
}

.form-bg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2rem;
}

.hr-line{
    width: 100%;
    border-style: solid;
    border-width: 1px;
}
.personal-details-container{
    display: flex;
    width: 100%;
}

.input-field{
    margin-bottom: 20px;
    margin-right: 2rem;
}

.personal-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.flex-box-extra{
    display: none;
}

.professonal-details-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-professional-details{
    display: flex;
    flex-wrap: wrap;
    
}
.heading-title{
    text-align: center;
}
.button-next-proffession{
    height: 30px;
}
.generate-button{
    color: white;
    background-color:green;
    border-style: none;
    border-radius: 10px;   
}
.btn-bg-div{
    align-self: flex-end;
}
