.mainContainerCards{
    background-color: rgb(225, 225, 225);
}


.mainCardsContainer{
    display: flex;
    /* justify-content: center; */
    padding-top:1rem;
    /* padding-right: 2rem; */
    /* padding-left: 2rem; */
    justify-content: center;
}

.flexMainCardsContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1rem;
    /* padding-bottom: 0.5rem; */
    padding-right: 1rem;
}

.mainButtonContainer {
    margin-bottom: 0.8rem
}

.mainButtonContainer button{
    height: 2rem;
    width: 7rem;
    padding-top: 0.3rem;
    align-items: center;
    border: none;
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 0.3rem;

}

.leftButtonP{
    margin-right: 1rem;
    padding-bottom: 0.4rem;
    color: #666666;
}

.rightButtonP{
    margin-left: 1rem;
    padding-bottom: 0.4rem;
    color: #666666;
}

.arrow{
    height: 1.5rem;
    -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(2700deg);
            transform: rotate(270deg);
            padding-right: 0.5rem;
}

.rightarrow{
    height: 1.5rem;
    -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

/* .mainButtonContainer span{
    display: inline-block;
    margin-bottom: 1rem;
    height: 1.7;
} */


.leftSideArrow{
    margin-bottom: 0.4rem;
    text-align: center;
    padding-bottom: 0.2rem;
    
}

.rightSideArrow{
    margin-bottom: 0.4rem;
    text-align: center;
    padding-bottom: 0.2rem;
    padding-top: 0.4rem;
    padding-right: 0.3rem;
}

.bottomPContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.7rem;
    color: gray;
    margin-bottom: 1rem;
    font-size: 0.8rem;

}

.totalMainCardsBottmContainer{
    display: flex;
    
}

.slideImages{
    width:4rem;
    margin-bottom: 0.5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-image: linear-gradient(rgb(230, 223, 223), rgb(216, 203, 203));
    background-color: white; */

}

.smallImages{
    height: 4rem;
    /* background-image: linear-gradient(rgb(230, 223, 223), rgb(216, 203, 203)); */
    cursor: pointer;
    opacity: 0.5;
}

.smallImages:hover{
    opacity: 1;
}

.slideImages:hover{
    border: 2px solid black;
}