.homeContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.AppCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.profile-description{
    margin-left: 80px;
    margin-right: 80px;
}
.Container{
    display: flex;
    flex-direction: column;
}
.div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }


.heading{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    align-self: center;
}
.description{
    text-align: center;
    font-size: 18px;
}
.slickContainer{
    background-color: transparent;
    padding: 10px;
}
.slickImage{
    height: 400px;
    width: 500px
}