.display-data-container-bg {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgb(255, 255, 255, 0.9)
        ),
        url("/home/peoplelink/Documents/peoplelink/Trainee_assignments/assignment02/public/Parking-Dashboard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 100%;
    overflow: auto;
}
@media screen and (min-width: 768px) {
    .display-data-container-bg {
        margin-left: 3px;
        overflow-y: auto;
    }
    .display-data-container-bg::-webkit-scrollbar {
        display: none;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #000000;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

th {
    width: 20%;
    height: 40px;
}
td {
    width: 20vw;
    border: 1px solid black;
    text-align: center;
    height: 50px;
}

.icon {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.table-head {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
}
