.home-expanding{
    min-height: 100vh;
    width: 90%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.home-header{
    margin-top: 70px;
    color: #45A29E;
}
.home-description{
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    color: #C5C6C7;
    text-align: justify;
}