.slots-container {
	width: 80%;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.9),
			rgb(255, 255, 255, 0.9)
		),
		url("./../../Parking-Dashboard.png");
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
	overflow: auto;
}
.slots-container::-webkit-scrollbar {
	display: none;
}
@media screen and (max-width: 767px) {
	.slots-container {
		width: 100%;
	}
}

.table {
	width: 100%;
}

tr {
	height: 74px;
}

table,
td {
	border-collapse: collapse;
	border: 1px solid black;
}
.table-row-header {
	position: sticky;
	top: 0px;
	background-color: rgb(240, 239, 238);
	border: 1px solid black;
}

.table-data {
	text-align: center;
}

.icons {
	color: red;
	cursor: pointer;
	margin: 6px;
}
.car {
	vertical-align: middle;
	margin-left: 10px;
}
