.header-tab{
    background-color: rgb(29, 29, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 30%;
}
.header-tab p{
    font-family: "Roboto";
    font-size: 20px;
    color: #ffffff;
}


.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}