.data-container{
    margin-top: 20px;
    align-self: center;
    background-image: linear-gradient(#000000c3, #000000c3), url("homecollege.jpg");
    background-size: cover;
    padding-bottom: 15px;

}

.civil{
    width: 400px;
}
.civil-header{
    font-size: 22px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}


.civil-image {
    text-align:center;
}

.paragraphs{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.civil-header{
    color: white;
    font-size: 23px;
    font-family: "roboto";

}

.para{
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}