.home-bg-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.home-page-content-part-bg-container{
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    flex-grow: 1;
    padding: 3rem;
}

.graph-uppr-part-bg-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.charts-bg-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tick-mark-in{
    background-color: rgba(45, 54, 237, 0.672);
    padding:10px;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-top-left-radius:1.5rem ;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.garph-upper-card-container{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 5px;
    flex-grow: 1;
    max-width: 300px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;

}

.line-chart-bg-container{
    width: 60vw;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
}

.pie-chart-container{
    display: flex;
    flex-grow: 1;
    min-width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-left: 30px;
    margin-top:30px ;
    padding: 30px;
}
.order-details-text{
    color: rgb(67, 67, 210);
}