.footer-container{
    background-color: #F6AE42;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-weight: 500;
}
.info-container{
    
    display: flex;
    flex-direction: row;
    
    align-self: flex-end;
}