.data-list-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3px;

}

.data-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    width: 40%;
    text-align:left;
   
}
@media screen and (max-width:767px){
    .data-list-item{
        display: none;
    }
}
.mobile-data-list-item{
   
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}


.mobile-data-item{
    color: black;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}
.line{
    border:0.5px #000000 line;
    width:100%;
}