<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hello world</h1>
        <img src='./uploads/1648096158673-Screenshot from 2022-01-25 16-12-07.png'/>
    </div>
</body>
</html>