.side {
    background-color: rgb(127, 214, 238);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    width: 15%;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.txt {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.txt:hover {
    color: tomato;
}
