.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
@media(max-width: 57px){
    .header-container{
        padding: 15px;
    }
}

.heading{
    color: #5867db;
}

.heading1{
    padding-left: 5px;
    color: #1b2263;
    font-family: "verdana";
    font-size: 20px;
    font-weight: 600;
}
.verticalline{
    height: 55px;
    width: 1.5px;
    background-color: #909090;
}

.logo-title-container{
    display: flex;
    flex-direction: rowco;
    align-items: center;
}

.logo{
    height: 24px;
    width: 24px;
}
.list-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-items-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.route-link{
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 600;
    margin-left: 16px;
    text-decoration: none;
    color: black;
}
.route-links{
    color: white;  
    text-decoration: none; 
}
.register{
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    margin-left: 10px;
    padding-left: 6px;
    width: 70px;
    height: 32px;
    background-color: teal;
    
}
.hearer-line{
    width: 95%;
    margin-left: 40px;
    margin-right: 40px;
}