.footer{
    height: 40px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin-top: 10px;

}
.footer-line{
    margin-left: 30px;
    margin-right: 30px;
    width: 90%;
    border: 1px groove black;
    background-color: black;
}
.address-container{
    display: flex;
    flex-direction: column;
}
.follow-us-container{
    display: flex;
    flex-direction: row;
    margin: 5px;
}