.marti {
    color: blue;
}

.workpage {
    width: 100%;
    /* height: 100vh; */
    background-color: #f5f4fc;
}
.l3 {
    width: 35px;
    height: 3px;
    background-color: #1460c4;
    margin: 6px 0;
    margin-left: 16rem;
}

.l4 {
    width: 26px;
    height: 3px;
    background-color: #1460c4;
    margin: 6px 0;
    margin-left: 16rem;
}

.menu-bar {
    margin-top: 2.6rem;
}

.redirected-menu1 {
    margin-bottom: 3rem;
}

.span-ele1 {
    margin-left: 5rem;
    color: #4d4d4d;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.2px;
}


.card-header {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    height: 180px;
    background-color: #eeedf0;
}

.card-footer {
    margin-left: 3rem;
    margin-right: 3rem;
    height: 120px;
    background-color: #fff;
}

.workPage-footer {
    margin-top: 9rem;
}

.card1 {
    display: flex;
    margin-top: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.card5 {
    display: flex;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.span1 {
    display: flex;
    color: #333333;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: sans-serif;
}

.span2 {
    margin-left: 2rem; 
    font-size: 18px;
    font-family: sans-serif;
    color: #3366ff;
}

.flexCol1 {
    display: flex;
    flex: none;
    flex-direction: column;
}

/* .cardsCntnr {
    display: flex;
    flex-wrap: wrap;

}

@media(min-width: 1200px) {
    .cardsCntnr {
        max-width: 70%;
    }

} */