/* parent div*/

.Header{
    width: auto;
    height: 40vh;
    background-image: url(./images/banner.jpeg);
    background-position: center;
    text-align: center;
}

/* Self Closing Tags */

h1{
    margin: 0%;
    padding: 2rem;
    font-size: 3.5em;;
    font-family: sans-serif;
    color: white;
}
.header-cotent input[type=text]{
    width: 80%;
    padding: 1rem;
}
button{
    width: 80%;
    padding: 1rem;
}
/* Child Div */

.header-cotent{
    float: right;
}

/* media Queries */
@media (min-width:260px) and (max-width:767px){
    .Header{
        background-position: fill;
        height: 30vh;
    }
    h1{
        font-size: 2rem;
        padding: 0%;
    }
    .header-cotent{
        padding: 2rem;
    }
    .header-cotent input[type=text]{
        padding: 0.5rem;
    }
    button{
        padding: 0.5rem;
    }
}
@media (min-width:768px) and (max-width:1112px){
    .Header{
        background-position: fill;
        height: 30vh;
    }
    h1{
        padding: 0.5rem;
    }
    .header-cotent input[type=text], button{
        width: 60%;
        padding: 0.8rem;
    }
}
@media(min-width:1113px) and (max-width:1336px){
    h1{
        padding: 0%;
    }
}