.form-total-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #232973;
}

.total-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

.total-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


input[type=text]{
    width: 80%;
    border: 2px solid #4c2585;
    border-radius: 7px;
    margin:8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
    height: 45px;
    font-size: 21px;
    background-color: #4c2585;
    color:white;
}

input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.input-container{
    width: 40%
}

@media (max-width: 768px){
    .input[type=text]{
        width:100%;
        font-size: 13px;
    }

    .input-container{
        width: 48%;
    }
}

.button-container{
    padding-right: 20px;
    margin-top: 7px;
    
}

button{
    height: 45px;
    width: 80px;
    background-color: #4c2585;
    border-width: 0;
    color: white;
    font-size: 17px;
    border-radius: 8px;
}


.data-container{
    display: flex;
    justify-content: center;
    /* margin-right: 40px; */
    padding-top: 10px;
    margin-left: 50px;
}

.container {
    display: none;
}

.container-diplayed{
    display: block;
}

.showing-message {
    text-align: center;
    font-size: 14px;
    color: rgb(226, 44, 44);
}