.sideNav{
    width: 15%;
    height: 100%;
    /* position: fixed; */
    background-color: var(--primaryColor);
    color: white;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.navigate{
    padding: 0.75rem 0.3rem;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px whitesmoke;
    cursor: pointer;
}
/* logoBye{
    p
} */
.logOut{
    border-top: solid 1px whitesmoke;
    margin-top: 18rem;
    cursor: pointer;
}
