.heading {
    height: 22rem;
    width: 100%;
    background-color: #0a44cc;
}

.ui, .devloper {
    font-size: 3rem;
    font-weight: bold;
    font-family:fantasy ;
    color: #d9ed24;
    margin-left: 4rem;
}

.abt1, .abt2 {
    font-size: 20px;
    color: #fff;
    margin-left: 4rem;
}

.about {
    margin-top: 1rem;
}

.grid-cntnr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.sec1 {
    margin-top: 6rem;
    margin-left: 4rem;
    color: #d9ed24;
}

.exp1, .exp2, .exp3, .exp4, .exp5, .exp6 {
    font-size: 12px;
}

.sec2 {
    margin-top: 6rem;
    color: #d9ed24;
}