.doubleCntnr {
    background-image: linear-gradient(to bottom, #4831d4 65%, #ccf381 35%);
    height: 80vh;
    
}

.header {
    height: 25%;
    padding: 2rem;
}

.nm {
    font-size: 3rem;
    font-family: serif;
    font-weight: bold;
    color: #ccf381;
}

.menu-icon{
    margin-top: 2rem;
    margin-right: 4rem;
    font-size: 3rem;
    color: #ccf381;
}

.toggle {
    margin-top: 2rem;
    margin-left: 4rem;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #ccf381;
}
/* .role {
    margin-left: 6rem;
} */

.ui, .dev {
    color: #ccf381;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
}

.sp1, .sp2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

.about {
    margin-top: 1rem;
}

.section {
    margin-left: 4rem;
    display: flex;
    margin-top: 2rem;
}

.sec1, .sec2 {
    font-size: 10px;
    color:#ccf381;
}

.sec1 {
    margin-right: 4rem;
}

.imgCntnr {
    display: none;
}

.imtxtCntnr {
    margin-left: 4rem;
}

.imgCntnr1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42%;
}

.cntCntnr {
    padding: 2rem;
}



@media (min-width :1200px) {
    .doubleCntnr {
      background-image: linear-gradient(to right, #4831d4 65%, #ccf381 35%);
      height: 75vh;
    }

    .header{
        position: fixed;
        z-index: 1;
        padding: 2rem;
    }
    .menu-icon {
        color: #4831d4;
    } 
    .role {
        font-size: 40px;
        margin-top: 4rem;
        margin-left: 6rem;
    }
    .ui, .dev {
        font-size: 60px;
    }

    .about { 
        margin-left: 6rem;
        font-family:sans-serif;
    }

    .section {
        display: flex;
        margin-left: 9rem;
        margin-top: 5rem;
    } 
    
    .sp1 {
       line-height: 6px;
    }

    .sec1, .sec2{
        /* margin-top: 6rem; */
        font-family: initial;
        margin-left: 1rem;
        font-size: 17px;
        line-height: 22px;
    }

    .txtCntnr {
        margin-top: 10rem;
        width: 54%;
    }

    .cntCntnr {
        padding: 0;
    } 

    .imgCntnr {
        display: flex;
        align-items: center;
        margin-top: 8rem;
    }
    
    .imtxtCntnr {
        display: flex;
        margin-left: none;
    }

    .imgCntnr1 {
        display: none;
    }

}


    
