.productSpecs h3{
    padding: 1rem;
    padding-left: 0%;
    color: #888080;
    font-weight: 400;
}
.productSpecs{
    width: 100%;
}
.dimensions{
    width: 50%;
}
th,td{
    float: left;
    border: 1px solid #888080 ;
    padding: 0.4rem;
}
th,td{
    width: 309px;
}
th{
    background-color: #EEEEEE;
    color: #888080;
    font-weight: 400;
}
td{
    color: #585757;
}
.container{
    display: flex;
}
.left{
    width: 50%;
}
