* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 100%;
  height: 100%;
}
.base {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  min-height: 100%;
  padding-top: 120px;
  line-height: 17px;
}
.flexRow{
  display: flex;
  flex: none;
}
.flexCol{
  display: flex;
  flex: none;
  flex-direction: column;
}
.reFlex{
  display: flex;
  flex: none;
  flex-direction: column;

}
@media (min-width: 768px) and (max-width: 1112px) {
}
@media (min-width: 1113px) and (max-width: 1366px) {
  .main{
    padding-top: 64px;
  }
  .reFlex{
    flex-direction: row;
  }
  
}
@media (min-width: 1367px) {
  .main{
    padding-top: 64px;
  }
  .reFlex{
    flex-direction: row;
  }
  
}
button{
  border: none;
}
.h1{
  color: rgb(124, 164, 216);
  font-weight: bold;
  font-size: large;
}
.h2{
  color:gray

}