.navbar{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    background-color:#a4d99a;
    max-height:10vh;
}
.navbar-heading{
    font-size:35px;
    font-weight:bold;
    padding:5px;
}