.description-card-container{
    color: #3f25b3 ;
    padding: 3rem;
}

.description-design-part{
    padding: 3rem;
}
.description-cavalier-content{
    padding: 3rem;
}
.description-paragraph{
    color: #3D155F;
    font-size: 10.91px;
    line-height: 1rem;
}

.description-heading{
    padding-bottom: 1rem;
    font-size: 40.8px;
    font-weight: bolder;
}

.description-design-part-bg{
    flex-grow: 1;
}
.description-cavalier-content-bg{
    flex-grow: 1;
}

@media (min-width:768px) {
    .description-cavalier-content{
        width: 45%;
    }
    .description-design-part{
        width: 45%;
    }

    .description-cavalier-content-bg{
        display: flex;
        justify-content: flex-end;
    }
    
}