@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  * {
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
  }
  
  body.rtl {
    font-family: -apple-system, BlinkMacSystemFont, "DroidKufiRegular", "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
  .rtl {
    direction: rtl;
    text-align: right;
  }
  
  /* VARIABLES */
  :root {
    /* --primaryColor: #68D195; */
    --primaryColor: #2a3c8f;
  
    --primaryLColor: #f0f7f7;
    --primaryLDColor: #cfe6e6;
    --primarySLight: #dae6e6;
    --primaryDark: #275758;
    --secondaryColor: #2b80c4;
    --successColor: #008f00;
    --linkColor: #358fd0;
    --whiteColor: #ffffff;
    --whiteLColor: rgba(255, 255, 255, 0.7);
    --dangerColor: #bc0c00;
    --redColor: #ff2600;
    --dangerSuperLight: #fdede8;
    --outLinkColor: #00ffff;
    --baseColor: #f8f9fb;
    --baseLColor: #eeeff1;
    --baseDColor: #e5e9f2;
    --confBgColor: #040808;
    --confFtrColor: #070b0b;
  
    --brdrBtm: 1px solid rgba(0, 0, 0, 0.12);
    --bgGradient: linear-gradient(to bottom, var(--whiteColor), var(--baseColor));
  }
  
  /* RESET */
  p,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  ul,
  li {
    list-style-type: none;
  }   
  button {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav_bar_container{
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-between;
}
.logo_img_container  img{
    margin-right: 12px;
    width: 100%;
    height: 2.5rem;
    object-fit: cover;
    cursor: pointer;
}
.lefiside_nav{
    display: flex;
    align-items: center;
}
.lefiside_nav ul{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 12px;
    
}
.lefiside_nav ul li a{
    color: rgba(0, 0, 0, 0.87);
    padding: 0px 12px;
    font-family: 'Baloo Tammudu 2', cursive;
 font-weight: bold;

}

.hambuger{
    display: none;
}
/* left nav_bar Coding Completed */
/* right nav_bar coding Start Here */

.rightside_nav{
 display: flex;
 justify-content: center;
 align-items: center;
}

.rightside_nav #select{
    padding: 8px;
    outline: none;
    border: none;
    padding-right:5px;
    cursor: pointer;
}
.right_nav_form_container input{
            padding: 8px;
            outline: none;
            border: none;
}
.right_nav_form_container .search_icon {
    background-color: rgb(65, 148, 225);
    padding: 8px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
}
.create_new_account{
    padding: 8px;
    border: 1px solid black;
    margin: 0px 5px;
  
}
.create_new_account a{
    color: black;
    font-weight: bold;
}
.login_container{
    padding: 8px;
}
.login_container a{
    padding: 8px;
    color: black;
    font-weight: bold;
}

/* right Nav_bar CSS done here */



/* dropdown contaianer Css here */

.dropdown_Container{
  max-width: 68%;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: space-between;
  transform: translate(1rem, 2rem);
}
.dropdown_Container select{
    padding: 0.6rem;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bolder;
}

/* video container coding start from here */
.videos_conatainer{
  /* border: 2px solid rebeccapurple; */
    width:100%;
    background-color: rgba(255, 255, 255, 0.7);
    
    height: auto;
    /* border: 1px solid rebeccapurple; */
    padding:2px 5px;
    display: flex;
    flex-wrap: wrap;
  
    /* align-items: flex-start; */
    /* margin: 20px auto; */
    padding-left: 1rem;
    margin-top: 2.5rem;
    gap: 0.8em;

}
.card_view_leftside{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.video{
  padding: 5px;
  background-color: #eeeff1;
  border-radius: 3px;
  width: 250px;
  height: 250px;
  /* border: 1px solid red; */
}
.vds{
  width: 100%;
  height: auto;
}
.pcolor{
  color: #358fd0;
}
.pad_top{
  /* padding-top: 29px; */
  padding-top: 2rem;
}




.card_view_rightside{
  position: relative;
  bottom: 2.5rem;
  /* border: 1px solid rebeccapurple; */
  width: 28%;
  height: auto;
  background-color: whitesmoke;
}
.vid1_rightside p,h3{
  /* display: inline-block; */
}
.vid1_rightside{
  /* border: 1px solid red; */
  width: 100%;
  height: 120px;
}
.vidrs {
  display: inline-block;
  width: 47%;
  height: auto;
  float: left;
  padding-right: 1rem;
}
.pad_top_rs{
 padding-top: 1.5rem;
}