.tabel {
  width: 100%;

  border-collapse: collapse;
  box-shadow: 10px 10px 10px 10px #fff;
}

.tabel_heading {
  text-align: center;
  border: 1px solid #5e5e5e;
}
.tabel_heading1 {
  text-align: center;
  border-top: none;
  border-bottom: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
  border-left: 1px solid #5e5e5e;
}
.deleteBtn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete {
  color: #f6ae42;
  font-size: 17px;
}
.del_edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.car {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabel_heading2 {
  text-align: center;
  border-top: none;
  border-bottom: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
  border-left: 1px solid #5e5e5e;
  text-align: center;
}
.car_logo {
  margin-left: 5px;
}
@media (max-width: 700px) {
  .tabel {
  }
  .tabel_heading {
    font-size: 9px;
  }

  .tabel_heading1 {
    font-size: 9px;
  }
  .tabel_heading2 {
    font-size: 9px;
  }
  .delete {
    font-size: 15px;
  }
}
