.exploreBgContainer {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f7fa;
}

.cardCntnr {
    width: 100%;
}

.mrgnBSM {
    margin-bottom: 1rem;
}

.cardOuterCntnr {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: #ffffff;
}

.cardInnerCntnr {
    padding: 1rem;
}

.exploreSubHeading {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #183b56;
    margin-bottom: 2rem;
}

.gadgetsCntnr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardImg {
    border-radius: 20px;
}

.mrgnHMD{
    margin: 1.5rem 0;
}

.spanElement {
    font-size: 1.8rem;
}

.jsCenter {
    display: flex;
    justify-content: center;
}

.seeAllDeals {
    font-size: 2rem;
    color: #ff9f00;
}