.Main{
    width: auto;
    background-color: grey;
    text-align: center;
}
.display{
    padding: 8px;
}
.Page{
    display: flex;
}
input[type=search]{
    width: 100%;
    padding: 0.5rem;    
}
h2{
    padding: 0.5rem;
}
input[type=text]{
    width: 80%;   
    padding: 0.8rem;
    font-size: 1rem;   
}
.table{
    padding-top: 10px;
}
input[type=submit]{
    width: 80%;
    margin-bottom: 10%;
    padding: 0.5rem;
}
th{
    background-color: black;
    color: white;
}
td{
    text-align: center;
    border: 0.5px solid lightgray;
    background-color:lightgray;    
}
@media (min-width:260px) and (max-width:767px){
    .Page{
        display: block;
    }
}
@media (min-width:768px) and (max-width:1112px){
    .Page{
        display: block;
    }
    th{
        width: 100vw;
    }
}