
.programme-container{
    margin: 20px;
    background-color: transparent;
    height: 320px;
    width: 300px;
    border: 1px solid #909090;
    border-radius: 4px;
    list-style: none;
}

.course-image{
    height: 150px;
    width: 100%;
}
.course-heading{
    color: black;
    font-size: 18px;
    margin-left: 30px;
}

.course-item{
    list-style: none;
    color: darkslateblue;
    padding: 4px;
}
.course-programme{
    text-decoration: none;
}