.footer-bg {
    height: 5vh;
    background-color: #f6ae42;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 
@media screen and (max-width: 768px) {
    .footer-bg {
        height: 10vh;
    }
} */

.copy-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right-text {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 768px) {
    .copy-right-text {
        font-size: 12px;
    }
}
