.main{
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    width: 600px;
    background-color: rgb(67, 120, 235);
    padding: 1rem;
    border-radius: 20px;
    align-items:space-evenly;
}
.sub1{
    width: 100%;
    padding: 1rem;
}
.bar{
    height: 0.2rem;
    position: relative;
    overflow: hidden;
}
.slider{
    position: absolute;
    background-color: white;
    min-width: 0%;
    height: 100%;
    border-radius: 0.5rem;
    animation:loader 3s infinite forwards;
}
.sub2{
    width: 100%;
    color: white;
}
.sub3{
    width: 100%;
    color: white;
    justify-content: center;
}
.about{
    padding: 1rem;
    word-break: break-word;
}
.profile{
    height: 50px;
    width: 50px;
}
.img1{
    width: 100%;
    border-radius: 50%;
}
.info{
    
    padding-left: 0.5rem;

}

@keyframes loader {
    0%{width : 0}
    100%{width : 100%}
    
}