

h2 {
    text-decoration: underline;
}
.nameSpan {
    font-size: 22px;
    color: #4d4d4d;
    font-weight: bold;
}
p{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

.fileCntnr {
    display: flex;
    flex-direction: column;
    float: right;
}

.signature {
    border: 1px solid black;
}

table th {
    font-size: 20px;
    background-color: #f5a142;
}

table tr td {
     font-size: 18px;
     background-color: #ccff99;
}

td {
    text-align: center;
}
