.cart-main {
    width: 85%;
    padding: 50px;
    overflow-y: auto;
}
.price-footer {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: rgb(204, 175, 175);
    align-items: center;
    border: none;
    border-radius: 10px;
    margin: 15px;
}

.total-price {
    color: rgb(15, 15, 15);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    align-self: center;
}

.no-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}
