.about-part-bg-container{
    display: flex;
    padding: 3rem;
    color: #4831D4;
    background-color:white;
    width: 100%;
    flex-direction: column;
}

.about-bg{
    padding: 3rem;
    background-color:rgb(251, 246, 246);
    height: 100vh;
}

.about-part1-bg-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    margin: 2rem;
    height: 20vh;
    
}

.about-paragraph{
    color: #3d155f;
}

.horizontal-line{
    width: 100%;
}

.about-button{
    padding-left: 1rem;
    padding-right:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #4831D4;
    color: #4831D4;
 }
 
 .about-button-arrow{
     padding-left: 1rem;
 }

@media (min-width:768px) {
    .about-part1-bg-container{
        height: 40vh;
    }
    .horizontal-line{
        width: 1%;
        height: 100%;
        border-style: solid;
    }
    .about-part-bg-container{
        
        flex-direction: row;
    }
    

    
    
}




