.img1{
    height: 50px;
    width: 50px;
}
.flex-container{
    margin-top: 15px;
}
.active{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 45px;
    
}
.lg1{
    display: flex;
}
.lg2{
    margin-left: 900px;
    display: flex;
}
#search{
    background-color: rgba(4, 103, 195, 0.931);
    height: 22px;
    width: 40px;
    margin-left: -4px;
    border-radius: 2px;
    text-align: center;
}
.vd1{
    height: 25px;
    width: 90px;
    text-align: center;
    margin-top: 15px;
}
.e1{
    text-align: center;
    margin-top: 15px;
    height: 26px;
    width: 150px;
}
.bt1{
    width: auto;
    height: 25px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: white;
    border-radius: 5px;
}
.a1{
    text-decoration: none;
    color: black;
}
.p1{
    margin-left: 30px;
    margin-top: 20px;
}