.seat-page-card-bg-container{
    background-image: url("");
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh; 
}
