.data-view-container{
    display:flex;
    flex-direction: column;
    width:80%;
    height:90vh;
}
.data-view-content{
    text-align:center;
    display:flex;
    flex-direction: column;
}
.default-container{
    display:flex;
    flex-direction:column;
    align-self:center;
    justify-content: center;
   height:90vh;
}