.form {
  margin-top: 0px;
  padding: 20px;
}
.input_tag {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #f6ae42;
}
.sub_btn {
  width: 100%;
  border-radius: 8px;
  background-color: #f6ae42;
  border: none;
  outline: none;

  height: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.required {
  color: red;
  margin-top: 0px;
  height: 13px;
  font-size: 13px;
}
