.mainPageContainer{
    display: flex;
    flex-direction: row;
    margin: auto;
}

nav{
    background-color: rgb(19, 56, 90);
}

ul{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 6px 13px 6px 0px;
}

.clg_name{
    font-family: "roboto";
    font-size: 30px;
    color: rgb(245, 246, 248);
    align-self: center;
}

li{
    margin-right: 10px;
    list-style-type: none;
    font-weight: 500;
    padding-right: 10px;
    color:rgb(245, 246, 248)
}