* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.user_fileds_container {
  margin-top: 0px;

  border-right: 2px solid #f6ae42;
  width:300px;
  padding-top: 1px;
}
.slot_genrate_container {
  background-color: #f6ae42;
  border-top-right-radius: 10px;
}
.card_container {
  display: flex;
}
.table_contaier {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgb(255, 255, 255, 0.9)
    ),
    url("../src/images/Parking-Dashboard.png");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.inner {
  min-height: 100%;
}
@media (max-width:700px){
  .card_container{
    flex-direction: column;
  }
  .user_fileds_container{
    display: flex;
    flex-direction: row;

    width: 100%;
  }
  .slot_genrate_container{
    width: 50%;
  }
  .inner{
    width: 100%;
    overflow: auto;
    height: 200px;
  }
}