.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    outline: none;
    font-size: 24px;
    color: red;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
