.contact-me-part-container{
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
    color: #002db3;

}

.email-name-part-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


@media (min-width:768px) {

    .contact-me-part-container{
        height: 80vh;
    } 
    .input-msg-container{
        margin-right: 2rem
    }
    
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#884dff;
    flex-grow: 1;
   
}

.input-msg-border-style{
    color: #884dff;
    padding-bottom: 1rem;
    border-right: none;
    border-top: none;
    border-left: none;
    margin-top: 1rem;
    width: 100%;
}

.input-msg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#884dff;
    width: 100%;
    padding-right: 3rem;
    margin-top: 2rem;
}

.input-border-style{
    color: #884dff;
    padding-bottom: 1rem;
    border-right: none;
    border-top: none;
    border-left: none;
    margin-top: 1rem;
    width: 35vw;
    
}

.contact-shoot-button{
   margin: 3rem;
   color: #884dff;
   padding-right: 2rem;
   padding-left: 2rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.contact-button-arrow{
    margin-left: 2rem;
}

