body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.flexRowContent{
  display: flex;
  justify-content: center;

}

.margin{
  margin-bottom: 1rem;
}

.flexColumnContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowO{
  display:flex;
}

.flexCol{
  display:flex;
  flex-direction: column;
}

.flexRows{
  display: flex;
}

.flexPadding{
  padding-left: 1rem;
  padding-right: 1rem;
}
.padding-left{
  padding-right: 1.4rem
}

.marginLeft{
  margin-left: 1rem;
}

.marginRight{
  margin-right: 1rem;
}
.marginBottom{
  margin-bottom: 1rem;
}
.marginTop{
  margin-top: 2rem;
}

.paddingTop{
  padding-top: 0.9rem;
}

.paddingBottom{
  padding-bottom: 1rem;
}