.view-user-details-container{
    width: 90%;
    padding: 0px 40px 40px 40px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow:0px 0px 10px 3px rgb(211, 197, 197);
}
.user-details-list{
    list-style-type: none;
    padding: 0px;
}
.list-item{
    display: flex;
    padding: 0;
    margin: 0;
}

.user-name{
    color: black;
    font-family: "sans-serif";
    font-size: 18px;
    width: 33%;
    text-align: center;
    overflow: auto;
}
.email-text{
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.text-weight{
    font-weight: bold;
}
.line{
    border: 1px solid black;
}
.no-data{
    color: black;
    font-family: "sans-serif";
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button{
    color: black;
    font-family: "sans-serif";
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    box-shadow:0px 0px 10px 3px rgb(211, 197, 197);
}