.show-product-box {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin: 15px;
}
.product-link {
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
}
.show-img-size {
    width: 120px;
    height: 200px;
    margin-bottom: 30px;
    align-self: center;
}
.buttons-box {
    display: flex;
    justify-content: space-evenly;
}
.product-button {
    background-color: rgb(245, 172, 16);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.buy-now {
    background-color: rgb(248, 38, 38);
}

.product-details-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-left: 1px solid rgb(92, 90, 89);
    padding-left: 40px;
    overflow-y: auto;
}

.each-product-heading {
    color: rgb(15, 15, 15);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.each-product-price {
    color: rgb(15, 15, 15);
    font-size: 16px;
    font-weight: 600;
}
.each-price-span {
    font-size: 20px;
}
