.expanding-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
    width: 100wh;
    padding-right: 30px;
    background-size: cover;
    background-color: black;
    font-style: italic;
    text-align: right;
    
}
.deepika-profile{
    border-radius: 70%;
    height: 70px;
}

.expanding-profile{
    padding: 10px;
    border-radius: 50%;
}

