.table-heading1{
    font-size: 1rem;
    border-color: white;
    border-style: solid;
    color:blue;
    text-align: center;
    max-width: 40px;
    overflow-x: hidden;
}
.child-count{
    font-size: 1rem;
    border-color: white;
    border-style: solid;
    color:blue;
    text-align: center;
    overflow-x: hidden;
    max-width: 10px;
}
.email-text{
    text-align: left;
    padding-left: 5px;
    max-width: 60px;
    overflow-wrap: break-word;
}
.edit-button{
    margin-right: 5px;
}