.form-bg-container{
    background-color: ghostwhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.msg-mail-container{
    width: 100%;
}

.form-bg{
    min-height: 80%;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-thank-you{
    color: blueviolet;
    text-align: center;
    width: 60%;
}

.err-msg-style{
    color: red;
    padding: 0;
    width: 60%;
    text-align: left;
}

.form-paragraph{
    text-align: center;
    line-height: 1.5rem;
}

.formHeading{
    color: #4831D4;
    font-family: "Times new roman";
}

.lable-style{
   color: blueviolet;
   font-weight: 500;
}

.lable-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    line-height: 2rem;
}
.lable-input-container-msg{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    line-height: 2rem;
}
.input-element{
    padding: 1rem;
    border-style: solid;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: auto;
    background-color: inherit;

}

.input-element-msg{
    padding: 1rem;
    width: 100%;
    border-style: solid;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: auto;
    background-color: inherit;

}

.submitButton{
    border-color: blue;
    background-color:lightblue;
    color:blue ;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .msg-mail-container{
        display: flex;
        justify-content: space-between;
    }
    .lable-input-container{
        width: 45%;
    }

}