.navbar-bg{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 100%;
    height: 40px;
    align-items: center;
}
.anchor-element{
    margin-right: 3rem;
    text-decoration: none;
    color: blue;
}
.navbar-logo{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin: 3rem;
}