.footter {
  background-color: #f6ae42;
  height: 30px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 900;
}
.image_logo {
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}
.copy_logo {
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
}
