
  .testimonialContainer{
    width: 100%;
    height: 100vh;
  }
  .testmonialMain{
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  .T-flexCol{
    display: flex;
    flex-direction: column;
    flex: none;
    width: 600px;
    margin-left: 350px;
  }
  