.main1{
    position: absolute;
    width: 250px;
    height: 60vh;
    background-color: lightseagreen;
    display: flex;
}
.sideInput{
    padding: 8px;
    border-radius: 10px;
}

.side{
    padding-top: 25px;
    padding-left: 14px;
}

.sideButton{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.sideNav{
    display: flex;
}
h3{
    margin-left: 20px;
}
.rhtinput{
    width: 180vh;
    margin-left: 60px;
    margin-top: 10px;
    height: 35px;
    border-radius: 10px;
    background-color: lightseagreen;
}
.table{
    width: 180vh;
    margin-left: 60px;
    margin-top: 3px;
}
td{
    width:30vw;
background-color: lightseagreen;    border-radius: 10px;  
    text-align: center; 
}
.cancel{
    width: 1vw;
}
.black{
    width: 180vh;
    margin-left: 60px;
    margin-top: 10px;
    height: 35px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content:space-around;
}
.text{
    color: white;
    padding:8px;
}
i{
    position: absolute;
    right:-1110px;
    top: 18px;
}
.button1{
    margin-top: 12px;
    width: 100px;
    height: 37px;
    background-color: cadetblue;
}

@media (min-width:374px) and (max-width:1248px){
    .main1{
        /* position: absolute; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .rhtinput, .black{
        width: 97%;
        margin-left: 12px;
    }
    .sideInput{
        width: 96%;
    }
    .sideButton{
        width: 98%;
    }
    
}