.linkElement{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navMinWidth{
    width: 20vw;
}

.whiteBg{
    background-color: white;
}

.bg-gostwhite{
    background-color: ghostwhite;
}