.formApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    width: 100%;
}
.formInput{
    height: 25px;
    width: 200px;
    margin-left: 60px;
}
.formLabel{
    font-size: 20px;
    color: black;
}
.formHead{
    font-size: 23px;
    margin-bottom: 20px;
}
.formDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.divSpanC{
    display: flex;
    flex-direction: column;
}
.errorMessage{
    color: #500c0c;
    font-size: 18px;
    margin-left: 70px;
    margin-bottom: 5px;

}
.genderErrorMessage{
    color: #500c0c;
    font-size: 18px;
    margin-left: 150px;
    margin-bottom: 5px;

}
.formRadioDiv{
    display: flex;
    flex-direction: row;
    margin: 25px;
}


.radioDiv{
    margin-left: 150px;
}

.maleB{
    font-size: 19px;
    margin-right: 10px;
}
.formRegister{
    background-color: transparent;
    border: 2px solid maroon;
    height: 40px;
    width: 100px;
    color: black;
    font-size: 18px;
    margin: 10px;
}
.formButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table{
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
    border-collapse: collapse;

}
th{
    border: 1px solid white;
    background-color: maroon;
    color: white;
    padding: 10px;
}
td{
    padding: 10px;
}