

.p-app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description{
    text-align: justify;
    margin-left: 130px;
    margin-right: 130px;
}
.subjects{
    font-size: 17px;
    color: black;
    font-weight: 800;
}
.teachers{
    font-size: 17px;
    color: black;
    font-weight: 800;
}
.teacher-link{
    list-style-type: square;
}
.subject-teacher{
    display: flex;
    flex-direction: row;
}
.profile-teacher{
    height: 100px;
    width: 100px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 75%;
}

th,td{
    border: 1px solid black;
    padding: 10px;
}

.pg-ug-image{
    height: 250px;
    width: 250px;
    margin: 10px;
}