.AppContainer-gallery{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    color: royalblue;
    font-family: "Roboto";
    font-size: 30px;
}
.imageEdit{
    height: 300px;
    width: 300px;
}