.productDetailsContainer{
    /* padding-top: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
}

#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
