.ticket-card-container{
    background-color:rgba(17, 16, 19, 0.569);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: ghostwhite;
    margin: 20px;
    height: 63vh;
    width: 25vw;
    margin: 1rem;
}
.bg-ticket-form{
    flex-grow: 1;
    height: 100%;
    align-self: flex-start;
}
.ticket-part-bg-container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ticket-page-card-bg-container{
    flex-grow: 1;
    width: 100%;
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    min-height: 85vh; 
    background-color:white;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;


}
.input-filed-for-ticket-booking{
    border-color: gray;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 85%;
    background-color: transparent;
    border-radius: 3rem;
    margin-bottom: 2rem;
    color: white;
}


.input-element-icon{
    background-color: inherit;
    font-size: 1.5rem;
    margin: 1rem;
    margin-left: 2rem;
}

.input-element-booking{
    background-color: inherit;
    border-style: none;
    font-size: 1.5rem;
    max-width: 75%;
    margin-right: 2rem;
    color: white;
  
}
.gender-select-bg{
    width: 30%;
    height: 60%;
    background-color: inherit;
    border-style: none;
}

.gender-select-lable{
    width: 30%;
    height: 60%;
    background-color: inherit;
    border-style: none;
    text-align: center;
    color: rgb(25, 156, 23);
    font-weight: bold;
}
.gender-quantity-container{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.option-style{
    height: 85%;
    background-color: antiquewhite;
    color: blue;
    padding: 0.5rem;
    border-radius: 20px;
    font-weight: 500;
    font-size:10px;
    margin-bottom: 10px;
}

.lable-input-container{
    display: flex;
    flex-direction: column;
}

.bg-tickets{
    background-color: red;
}

.details-checking-page{
    min-height:500px;
    min-width: 450px;
    background-color:lightskyblue;
    border-radius: 20px;
    padding: 5rem;
}
.buttton-container{
    display: flex;
    justify-content: space-between;
}

.list{
    list-style: none;
}
.table-bg{
    background-color: aquamarine;
    margin-top: 3rem;
}

.table-heading{
    padding: 1rem;
    font-size: 1rem;
    border-color: white;
    border-style: solid;
    width: 60px;
    background-color: rgb(208, 119, 119);
}
.book-ticket-button{
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px){
    .no-ticte-image{
        height: 40vh;
        width: 30vw;
        margin-left: 5rem;
    }
}

.book-ticket-button{
    background-color: green;
    padding: 0;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1rem;
}
.heading{
    width: 100%;
    text-align: center;
}

.filter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}