.body{
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.info{
    width: 100%;
    padding: 6rem;
    align-items: center;
    background-image: linear-gradient(whitesmoke, #abe6d1, white)
}
.redText{
    color: red;
}
.smallText{
    size: 8px;
}
.imageHolder{
    position: relative;
  animation-name: example;
  animation-duration: 8s ;
  animation-iteration-count: infinite;
}
@keyframes example {
    0%   { right:0px; top:0px;}
    25%  { right:-400px; top:0px;}
    50%   { right:0px; top:0px;}
    75%   { right:400px; top:0px;}
    100%   { right:0px; top:0px;}

  }

.p2Button{
    color: red;
    padding: 0.1rem 1.2rem;
    background-color: white;
    border: 1px solid red;
    border-radius: 4px
}
.p2Button:hover{
    background-color: red;
    color: white;
}
.p1Button{
    color: white;
    padding: 0.1rem 1.2rem;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    height:40px
}
.p1Button:hover{
    background-color: white;
    color: red;
}
.pairButton{
    justify-content: space-evenly;
    width: 300px;
    height: 40px;
}
.scrollCards{
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
.viewButton{
    padding: 2rem;
    height: 150px;
    justify-content: center;
}
.section1{
    width: 100%;
    background-image: linear-gradient(rgb(252, 252, 252),lightblue);
    padding: 4rem 12rem;
}
.sub1{
    justify-content: space-evenly;
}
.lCard{
    width: 45%;
    padding: 1rem;
    background-color: white;
    border-radius: 25px;
}
.rCard{
    width: 45%;
    padding: 1rem;
    background-color: white;
    border-radius: 25px;

}
.lastButton{
    width: 100%;
    align-items: center;
}
