.main{
    background-image: linear-gradient(rgb(196, 220, 252),rgb(173, 206, 250),rgb(196, 220, 252));
    padding-left: 1rem;
    padding-right: 1rem;
}
.intro{
    align-items: center;
}
.pairButton{
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
}
.pButton{
  background-color: white;
  color: rgb(39, 125, 200);
  padding: 0.3rem;
  border: solid 1px rgb(39, 125, 200);
  border-radius: 4px;
}
.pButton:hover{
    color: white;
    background-color:rgb(39, 125, 200) ;
}
.scrollDiv{
    width: 100%;
    background-color: white;
    height:50px;
    border-radius: 4px;
    overflow: hidden;
    align-items:center;
    /* justify-content: space-between; */
}
.img1{
    padding: 0 0.15rem;
}
.sub2{
    padding: 2rem 0.5rem;
}
.lCard{
    padding: 0.5rem;
    background-color: white;
    border-radius: 4px;
}
.rCard{
    padding: 0.5rem;
    background-color: white;
    margin-top:0.5rem ;
    border-radius: 4px;

}