.form-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #e6dbdb;
    border-radius: 3px;
    min-height: 500px;
    width: 85%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
}
.vl{
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    height: 1px;
    width: 90px;
    background-color: black;
}
.title-heading{
    color: darkgreen;
    font-size: 22px;
    font-weight: 500;
    font-family: "Roboto";
}
.Input-box{
    background-color: transparent;
    height: 30px;
    width: 85%;
    margin: 10px;
    margin-right: 10px;
    border: 1.5px solid #3f463e;
    border-radius: 5px;
}
.name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.labelForm{
    padding: 7px;
}
.textareaBox{
    margin-top: 10px;
    margin-left: 45px;
    height: 150px;
    width: 250px;
    border: 1px solid #3f463e;
    border-radius: 5px;
    background-color: transparent;
}
.inputElement{
    border-radius: 5px;
    border: 1px solid #3f463e;
    height: 30px;
    width: 260px;
    margin-left: 20px;
    background-color: transparent;
}
.button{
    margin: 20px;
    background-color: darkgreen;
    color: white;
    height: 35px;
    width: 100px;
    padding: 10px;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
}
.buttonEl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.label-div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.register-image{
    border-radius: 3px;
    margin-right: 50px;
    width: 95%;
}


