.home {
  width: 70%;
  height: 100%;
  background-color: var(--BackgroundColor);
}
.header {
  background-color: var(--SecondaryColor);
  height: 2.5rem;
  padding: 0.5rem;
  justify-content: center;
}
.sh1 {
  padding: 0.25rem;
  color: white;
}
.sh2 {
  padding: 0.25rem;
  color: white;
  font-weight: bold;
}
.sec0 {
  padding-top: 1rem;
  justify-content: space-between;
}
.page {
  padding: 2rem;
  height: 100%;
}
.s1 {
  padding-bottom: 0.5rem;
  color: var(--SecondaryColor);
  /* font-weight: bold; */
  font-size: 1.2rem;
  border-bottom: solid 2px lightgrey;
}
.seemore {
  padding: 1rem 0;
}
.smButton {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  color: royalblue;
  border: 1px solid royalblue;
  border-radius: 0.25rem;
}
.sec1 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: solid 2px lightgrey;
}
.sec2 {
  padding-top: 1rem;
}
.title1 {
  padding: 1rem 0;
}
.t1 {
  color: var(--TextColor);
  font-weight: bold;
  font-size: 1rem;
}
.details {
  width: 25%;
}
.details1 {
  width: 30%;
  padding-left: 3rem;
}
.s2 {
  color: var(--SecondaryColor);
  /* font-weight: bold; */
  font-size: 1rem;
  padding-right: 0.25rem;
}
.scolor {
  color: var(--SecondaryColor);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.15rem;
}
.p1 {
  color: var(--TextColor);
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.white {
  background-color: white;
  box-shadow: 5px 5px 10px lightgrey;
  padding: 1rem;
  border-radius: 3px;
}
.opt {
  border-bottom: solid 2px lightgrey;
  padding-left: 0.5rem;
}
.s3 {
  color: var(--SecondaryColor);
  /* font-weight: bold; */
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-bottom: solid 3px var(--SecondaryColor);
}
.s4 {
  color: var(--TextColor);
  font-size: 1rem;
  padding: 0.25rem 1rem;
}
.txt1 {
  padding: 1rem 0;
}
.pump {
  width: 100%;
}
