.bg-container1 {
	background-image: linear-gradient(to left, #9cafbc, #223c4c);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 30px;
}
.from-container1 {
	background-image: linear-gradient(to right, #9cafbc, #223c4c);
	padding: 30px;
	width: 100%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.list {
	list-style-type: none;
	padding-left: 0px;
}
.list-item {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	border: 1px solid #8f9192;
}
.heading {
	width: 40%;
	margin-right: 10px;
	text-align: center;
	font-size: 15px;
}
.list-item1 {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	border-bottom: 1px solid #8f9192;
	border-left: 1px solid #8f9192;
	border-right: 1px solid #8f9192;
}
.no-data {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border-bottom: 1px solid #8f9192;
	border-left: 1px solid #8f9192;
	border-right: 1px solid #8f9192;
}
.btn2 {
	height: 30px;
	width: 80px;
	background-image: linear-gradient(to left, #9cafbc, #223c4c);
	box-shadow: 0px 6px 8px 0px #223c4c;
	border-radius: 10px;
	border: none;
	align-self: flex-end;
}
.link {
	text-decoration: none;
	color: #fff;
}
