.menu-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: blue;
}

.menu-bg-container{
      padding: 3rem;
}

.menu-hello-part{
    color: blue;
}

.menu-work-part-bg{
    margin-bottom: 4rem;
}

.menu-hello-part-bg{
    margin-bottom: 4rem;
}

.menu-hello-part{
    margin: 4rem;
}

.say-hello-menu{
    color:gray;
}

.menu-ul-bg-container{
    margin: 4rem;
}

.anchor-element-style{
    text-decoration: none;
}

.anchor-button{
    color: blue;
    border-style: none;
    font-size: medium;
}