.notification-message{
    border: 2px solid black;
    margin: 15px 15px;
    padding: 10px 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-start-end-radius: 12px;
    font-size: 20px;
    background-color: white;
    border-width: 0;
    align-self: flex-end;
    box-shadow: 7px 7px 7px rgb(3, 3, 3);
  }
  .notifications-container{
    overflow: auto;
    position: absolute;
    bottom: 2%;
    right: 2%;
  }

  .message1{
    color: red;
    order: -1;
  }
  
  .message2{
    color:rgb(52, 52, 216);
    order: -2;
  }
  
  .message3{
    color: green;
  }
  
  .message4{
    color: yellow;
  }
  
  .message5{
    color: rgb(19, 55, 88);
  }
  