
.header {
    height: 4rem;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
    top: 0;
    left: 0;
}

.profile{
    background-color: whitesmoke;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.profile:hover{
transform: scale(1.05);
}
.hRight{
    width: 300px;
    align-items: center;
    justify-content:space-around ;
}