.section4 {
    width: 100%;
    height: 30rem;
    background-color: #3D155f;
}

.inner-content {
    padding: 4rem;
}

.s27 {
    font-size: 14px;
    letter-spacing: 4px;
    font-family:Arial, Helvetica, sans-serif ;
    color: #d1cfd4;
}

.anc {
    color: #c8ca96;
}

.ul-list {
    list-style-type: none;
}

.item1, .item2 {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    /* display: list-item; */
    text-align: match-parent;
    color: #c8ca96;
}

.item1 {
    margin-top: 1rem;
}

.item2 {
    margin-top: 1.5rem;
}

.list {
    list-style-type: none;
    float: right;
    margin-top: 1rem;
    margin-left: 6rem;
}

.a2, .a3{
    color: #c8ca96;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.new {
    margin-top: 4rem;
    border-color:  #c8ca96;
}


.footer-bottom {
    padding-top: 3rem;
    color: #c8ca96;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    margin-right: 6rem;
}

.itm1, .itm2, .itm3, .itm4 {
    display: inline;
    margin-right: 1rem;
}

button {
    font-size: 16px;
    border: none;
    background: inherit;
    color: #c8ca96;
}

@media (min-width: 1200px) {
    .section4 {
        height: 100vh;
    }
    .inner-content {
        padding: 14rem;
    }
    .s27 {
        font-size: 20px;
    }
    .button, .name, .list1  {
        font-size: 24px;
    }
    .lists {
        width: 110%;
    }
    .new {
        width: 200%;
    }
    .itm1, .itm2, .itm3, .itm4 {
        margin-right: 3rem;
    }

    .footer-bottom {
        width: 205%;
        padding-top: 4rem;
    }


}
