.header{
    margin-top:0px;
    height:70px;
    width:100%;
    background-color: aqua;
    /* margin-left: 70px; */
}
.header p{
    height: 100%;
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 20px;
}