.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #9796f0, #fbc7d4);
    padding: 20px;
    min-width: 60%;
    height: 70%;
  }
  .container{
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: white;
    margin-bottom: 10px;
    width: 50%;
  }
  
  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: white;
    margin-left: 5px;
  }
  .icon-size{
    height: 30px;
    width: 20px;
  }
  
  .login-form {
    padding: 20px;
    display: flex;
    background-color: #7e858e;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
  }
  
  .input {
    color: #131415;
    font-family: 'Roboto';
    font-size: 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    border-left: 2px solid black;
    outline: none;
    width: 100%;
  }
  

  
  .add-button {
    align-self: flex-end;
    background-color: #8b5cf6;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 16px;
    outline: none;
  }
  
  .appointments-list {
    min-height: 40%;
    width: 50%;
    background-color:  rgb(112, 148, 12);
    padding: 10px;
  }
  .un-orders{
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
.err-msg{
  color: red;
}
  
  